:root{
  /*Colours*/
  --color-text: #ffff;
  --color-primary: #4DF0DF;
  --color-secondary: #018673;
  --color-bg: #05564D;
  --color-dark: #0b3047;

 
  /*Fonts*/

  --font-robot:"Roboto"
}